<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p><h2>{{description}}</h2></p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
    <p>
      <form class="form comment-form" data-id="{{id}}">
        <button class="btn btn-primary" type="submit">Comment on this Blog</button>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </form>
    </p>
    <p>
  {{/if}}
  
    <div class="comment-list"> 
      <h2>COMMENTS:</h2>
      {{#each blogComments as |comment|}}

      <div class="comment-list">
        <p>--- {{ comment.content }} ---</p>
        <p>Comment by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        {{#if (compare comment.user.id '==' ../current_user_id)}}
          <p> <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button></p>
        {{/if}}
      </div>

      {{/each}}
  </div>

<script src="../js/comment.js"></script>
