<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
<<<<<<< HEAD
    <!--<form>
      <button class="btn btn-primary" type="submit">Comment on this Blog</button>
    </form>-->
    <button class="btn btn-primary" type="submit">Comment on this Blog</button>
  </p>
  </div>
=======
    <button class="btn btn-primary comment-button">Comment on this Blog</button>
  </p>
</div>
>>>>>>> 7d31faf5fafc9a9c4f042c02f7b1c2989f09e3d1
